.page_body .page_content{
	
	padding-top:80px;
	
	padding-bottom:50px;
	
}

.page_body .page_content .title{
	
	font-size:3rem;
	
}

.page_body .page_content .title .detail{
	
	font-size:1rem;
	
	color:#323333;
	
	margin-top:20px;
	
	line-height:1.8;
	
}

.page_body .page_content .content{
	
	margin-top:65px;
	
}

.page_body .page_content .introduction_content_show{
	
	display:block;
	
}

.page_body .page_content .introduction_content_hide{
	
	display:none;
	
}

@media( max-width:1200px ){
	
	.page_body .page_content .introduction_content_show{
		
		display:none;
		
	}
	
	.page_body .page_content .introduction_content_hide{
		
		display:block;
		
	}
	
	.introduction_content_hide .introduction_block{
		
		position:relative;
		
	}
	
	.introduction_content_hide .introduction_block>.detail{
		
		position:absolute;
		
		top:0;
		
		padding:10% 5%;
		
	}
	.introduction_content_hide .introduction_block>.detail.left{
		
		left:0;
		
		text-align:left;
		
	}
	.introduction_content_hide .introduction_block>.detail.right{
		
		right:0;
		
		text-align:right;
		
	}
	.introduction_content_hide .introduction_block>.detail .title{
		
		font-size:2.8rem;
		
		margin:0;
		
		margin-bottom:15px;
		
	}
	.introduction_content_hide .introduction_block>.detail .detail{
		
		line-height:1.5;
		
	}
	
	.introduction_content_hide .introduction_block.type_01>.detail .title{
		
		color:#fff;
		
	}
	
	.introduction_content_hide .introduction_block.type_01>.detail .detail{
		
		color:#ccc;
	
	}
	
	.introduction_content_hide .introduction_block.type_02>.detail .title{
		
		color:#000;
		
	}
	
	.introduction_content_hide .introduction_block.type_02>.detail .detail{
		
		color:#666;
	
	}
	
	.introduction_content_hide .introduction_block.type_03>.detail{
		
		text-align:center;
		
		float:left;
		
		width:100%;
		
		position:inherit;
		
		padding-bottom:0;
		
	}
	
}

@media( max-width:991px ){
	
	.introduction_content_hide .introduction_block.type_02>.detail.right{
		
		right:auto;
		
		left:0;
		
		top:auto;
		
		bottom:0;
		
		text-align:left;
		
	}
	
	.introduction_content_hide .introduction_block.type_02>.detail.right .title{
		
		color:#fff;
		
	}
	
	.introduction_content_hide .introduction_block.type_02>.detail.right .detail{
		
		color:#ccc;
		
	}
	
}

@media( max-width:768px ){
	
	.page_body .page_content{
		
		padding-left:15px;
		
		padding-right:15px;
		
	}
	
	.page_body .page_content .title{
		
		text-align:left;
		
		font-size:2rem !important;
		
	}
	
	.introduction_content_hide .introduction_block>.detail .title{
		
		font-size:1.6rem !important;
		
	}
	
	.introduction_content_hide .introduction_block>.detail.right{
		
		float:left !important;
		
		text-align:left;
		
	}
	
}

@media( max-width:500px ){
	
	.introduction_content_hide .introduction_block>.detail{
		
		position:inherit !important;
		
	}
	
	.introduction_content_hide .introduction_block>.detail .title{
		
		color:#000 !important;
		
	}
	
	.introduction_content_hide .introduction_block>.detail .detail{
		
		color:#666 !important;
		
	}
	
}