<!DOCTYPE html>
<html lang="en" ng-app="index" style="overflow:hidden;">
<head>
    <meta charset="UTF-8"/>
    <title>HYAC</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="../library/css/bootstrap.min.css" rel="stylesheet"/>
	<link href="../resources/css/page.css" rel="stylesheet"/>
	<link href="../resources/css/index.css" rel="stylesheet"/>
	
</head>
<body>

<div class="page_main">

	<div class="page_header" ng-init="nav_list=[{url:'./introduction.html',detail:'技术介绍',active:true},{url:'./explain.html',detail:'使用说明'},{url:'./evaluate.html',detail:'用户评价'},{url:'#',detail:'立即购买',type:'special'}];logo_url='../resources/images/logo.png';">

		<div class="content">
		
			<div class="logo">

				<a href="./">
				
					<img src="{{logo_url}}"/>
				
				</a>
			
			</div>
			
			<div class="list">
			
				<ul>
				
					<li class="unit{{data.type == 'special' ? ' special' : ''}}{{data.active ? ' active' : ''}}" ng-repeat="data in nav_list track by $index">
					
						<a href="{{data.url}}">
						
							{{data.detail}}
						
						</a>
					
					</li>
				
				</ul>
			
			</div>
		
		</div>
	
	</div>
	
	<!--<div ng-init="Junde={name:'JundeLee',sex:1,age:25}">
	
		<div ng-repeat="(key , value) in Junde track by $id(value)">
		
			{{ key + ' = ' + ( ( value | currency ) + '' || value ) + ' { ' + $id + ' } ' }}
		
		</div>
	
	</div>
	
	<div ng-init="arr=[{index:10,template:'123'},{index:5,template:'4567'},{index:15,template:'89123'}]">
	
		<div ng-repeat="value in arr | orderBy:'index'">
		
			{{ value.index + '  ' + ( value.template | reverse ) }}
		
		</div>
	
	</div>-->

    <div class="page_body">
	
		<div class="page_content" style="background-color:#ececec;">
	
			<div class="container">
			
				<div class="row">
				
					<h1 class="center title" style="font-size:3rem;margin:0;">
					
						为什么选择 <span class="undeline">巴伦丝蕴</span> 高尔夫球衣？
					
					</h1>
				
				</div>
				
				<div class="row">
				
					<div class="content introduction_content_show">
					
						<img src="../resources/images/sub1_main.jpg"/>
					
					</div>
					
					<div class="content introduction_content_hide">
					
						<div class="introduction_block type_01">
						
							<img src="../resources/images/introduction_banner_01.jpg"/>
							
							<div class="detail left">
							
								<h1 class="title">
								
									辅助收缩固定肩部 <br/> 使击球姿势更稳定
								
								</h1>
								
								<p class="detail">
								
									原料使用特种材料及专业工艺压制而成，<br/>根据人体运动学原理对肌肉适当加压，<br/>达到稳定击球摆动动作，<br/>平稳瞄球方向感的目的。
								
								</p>
							
							</div>
						
						</div>
					
						<div class="introduction_block type_02">
						
							<img src="../resources/images/introduction_banner_02.jpg"/>
							
							<div class="detail right">
							
								<h1 class="title">
								
									专利硅胶带
								
								</h1>
								
								<p class="detail">
								
									采用体育用品专用绷带<br/>在特定的部位用原纱再次固定<br/>有效稳定胸肌, 三角肌, 肱二头肌等<br/>控制双臂防止脱离挥杆轨道

								
								</p>
							
							</div>
						
						</div>
					
						<div class="introduction_block type_01">
						
							<img src="../resources/images/introduction_banner_03.jpg"/>
							
							<div class="detail right">
							
								<h1 class="title" style="font-size:1.9rem;margin-bottom:7px;">
								
									Noraxon EMG analysis device<br/>
									<span style="font-size:1.5rem;">and software system</span>
								
								</h1>
								
								<p class="detail" style="margin-bottom:20px;">
								
									表面肌电采集分析系统

								</p>
								
								<!--<img style="display:inline-block;" src="../resources/images/introduction_banner_17.jpg"/>-->
							
							</div>
						
						</div>
					
						<div class="introduction_block type_03">
							
							<div class="detail">
							
								<h1 class="title" style="font-size:3rem;margin-bottom:7px;">
								
									挥杆各阶段EMG分析
									<span style="font-size:1rem;display:block;margin-top:15px;">内衣穿着前后的挥杆方式分析（左曲球和右曲球的方式测量及分析）</span>
								
								</h1>
							
							</div>
							
							<div>
							
								<!--<div class="col-sm-6 media_hide">
								
									<img src="../resources/images/introduction_banner_18.png">
								
								</div>-->
							
								<div class="col-sm-12" style="margin-bottom:35px;">
								
									<img src="../resources/images/introduction_banner_04.png"/>
								
								</div>
								
								<div class="col-md-6 col-sm-12">
								
									<img src="../resources/images/introduction_banner_05.jpg"/>
								
								</div>
								
								<div class="col-md-6 col-sm-12" style="padding-top:55px;">
								
									<p style="font-size:1.1rem;">EMG肌电图贴在肌肉上详细名称及相关肌电图频道。</p>
								
									<div class="table_block" style="padding-top:15px;">
									
										<div class="table_header table_row">
										
											<div class="table_cell">
											
												Muscle
											
											</div>
										
											<div class="table_cell">
											
												EMG Channel(L,R)
											
											</div>
										
										</div>
									
										<div class="table_row">
										
											<div class="table_cell">
											
												A / Gastrocnemius(GA)
											
											</div>
										
											<div class="table_cell">
											
												1,2
											
											</div>
										
										</div>
									
										<div class="table_row">
										
											<div class="table_cell">
											
												B / Biceps Femoris(BF)
											
											</div>
										
											<div class="table_cell">
											
												3,4
											
											</div>
										
										</div>
									
										<div class="table_row">
										
											<div class="table_cell">
											
												C / Rectus Femoris(RF)
											
											</div>
										
											<div class="table_cell">
											
												5,6
											
											</div>
										
										</div>
									
										<div class="table_row">
										
											<div class="table_cell">
											
												D / Deltoid(DT)
											
											</div>
										
											<div class="table_cell">
											
												7,8
											
											</div>
										
										</div>
									
										<div class="table_row">
										
											<div class="table_cell">
											
												E / Latissimus Dorsi(LD)
											
											</div>
										
											<div class="table_cell">
											
												9,10
											
											</div>
										
										</div>
									
										<div class="table_row">
										
											<div class="table_cell">
											
												F / Trapezius(TP)
											
											</div>
										
											<div class="table_cell">
											
												11,12
											
											</div>
										
										</div>
									
										<div class="table_row">
										
											<div class="table_cell">
											
												G / Brachioradialis(BR) 
											
											</div>
										
											<div class="table_cell">
											
												13,14
											
											</div>
										
										</div>
									
									</div>
								
								</div>
								
								<div class="col-md-12" style="margin-top:45px;">
								
									<img src="../resources/images/introduction_banner_06.png"/>
								
								</div>
							
							</div>
						
						</div>
						
						<div class="introduction_block type_03">
							
							<div class="detail">
							
								<h1 class="title" style="font-size:2.1rem;margin-bottom:7px;">
								
									<span style="font-size:1.1rem;display:block;margin-bottom:15px;">Golf Driver / iron / puting analysis</span>
								
									挥杆时详细并阶段性进行肌肉使用和肌肉协作肌电图分析
								
								</h1>
							
							</div>
						
						</div>
					
					</div>
				
				</div>
			
			</div>
		
		</div>
	
	</div>
	
	<!--
	
	<runoob-directive></runoob-directive>
	
	<div class="runoob-directive"></div>
	
	<div runoob-directive></div>-->
	
    <div class="page_footer">
	
		<div class="container h_100" style="display:table;">
		
			<div class="row table_row">
			
				<div class="col-lg-3 table_cell float_none">
				
					<div class="logo">
					
						<img src="{{logo_url}}"/>
					
					</div>
				
				</div>
				
				<div class="col-lg-9 table_cell float_none">
				
					<div class="detail">
					
						<ul>
						
							<li>
							
								[韩国] Chinaweb<span class="fontFamily_NanumGothic">주소:서울특별시광진구능동로49길 9</span>
							
							</li>
							
							<li>	
								
								[中国] 地址: 辽宁省大连市开发区双D港生命3路跨境电商产业园10号楼2单元401
							
							</li>
							
							<li class="special">
							
								Copyright © Balanswing All rights reserved.
							
							</li>
						
						</ul>
					
					</div>
				
				</div>
			
			</div>
		
		</div>

    </div>

    <div class="page_fixed_view">
		
    </div>

    <div class="page_hidden_view">
		
    </div>

</div>
</body>
<script src="../library/js/jquery.js"></script>
<script src="../library/js/bootstrap.min.js"></script>
<script src="../library/js/angular.min.js">

</script>
<script src="../library/js/angular-resource.min.js">

</script>
<script src="../library/js/angular-route.min.js">

</script>
<script src="../library/js/angular-cookies.min.js">

</script>
<script src="../library/js/angular-sanitize.min.js">

</script>
<script src="../library/js/angular-touch.min.js">

</script>
<script src="../library/js/angular-animate.min.js">

</script>
<script src="../resources/js/page.js">

</script>
</html>