<!DOCTYPE html>
<html lang="en" ng-app="index" style="overflow:hidden;">
<head>
    <meta charset="UTF-8"/>
    <title>HYAC</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="../library/css/bootstrap.min.css" rel="stylesheet"/>
	<link href="../resources/css/page.css" rel="stylesheet"/>
	<link href="../resources/css/index.css" rel="stylesheet"/>
	
</head>
<body>

<div class="page_main">

	<div class="page_header" ng-init="nav_list=[{url:'./introduction.html',detail:'技术介绍',active:true},{url:'./explain.html',detail:'使用说明'},{url:'./evaluate.html',detail:'用户评价'},{url:'#',detail:'立即购买',type:'special'}];logo_url='../resources/images/logo.png';">

		<div class="content">
		
			<div class="logo">

				<a href="./">
				
					<img src="{{logo_url}}"/>
				
				</a>
			
			</div>
			
			<div class="list">
			
				<ul>
				
					<li class="unit{{data.type == 'special' ? ' special' : ''}}{{data.active ? ' active' : ''}}" ng-repeat="data in nav_list track by $index">
					
						<a href="{{data.url}}">
						
							{{data.detail}}
						
						</a>
					
					</li>
				
				</ul>
			
			</div>
		
		</div>
	
	</div>
	
	<!--<div ng-init="Junde={name:'JundeLee',sex:1,age:25}">
	
		<div ng-repeat="(key , value) in Junde track by $id(value)">
		
			{{ key + ' = ' + ( ( value | currency ) + '' || value ) + ' { ' + $id + ' } ' }}
		
		</div>
	
	</div>
	
	<div ng-init="arr=[{index:10,template:'123'},{index:5,template:'4567'},{index:15,template:'89123'}]">
	
		<div ng-repeat="value in arr | orderBy:'index'">
		
			{{ value.index + '  ' + ( value.template | reverse ) }}
		
		</div>
	
	</div>-->

    <div class="page_body">
	
		<div class="page_content" style="background-color:#ececec;">
	
			<div class="container">
			
				<div class="row header">
				
					<h1 class="center title" style="margin:0;">
					
						为什么选择 <span class="undeline">巴伦丝蕴</span> 高尔夫球衣？
					
					</h1>
				
				</div>
				
				<div class="row">
				
					<div class="content introduction_content_show">
					
						<img src="../resources/images/sub1_main.jpg"/>
					
					</div>
					
					<div class="content introduction_content_hide">
					
						<div class="introduction_block clear type_01">
						
							<img src="../resources/images/introduction_banner_01.jpg"/>
							
							<div class="detail left">
							
								<h1 class="title">
								
									辅助收缩固定肩部 <br/> 使击球姿势更稳定
								
								</h1>
								
								<p class="detail">
								
									原料使用特种材料及专业工艺压制而成，<br/>根据人体运动学原理对肌肉适当加压，<br/>达到稳定击球摆动动作，<br/>平稳瞄球方向感的目的。
								
								</p>
							
							</div>
						
						</div>
					
						<div class="introduction_block clear type_02">
						
							<img src="../resources/images/introduction_banner_02.jpg"/>
							
							<div class="detail right">
							
								<h1 class="title">
								
									专利硅胶带
								
								</h1>
								
								<p class="detail">
								
									采用体育用品专用绷带<br/>在特定的部位用原纱再次固定<br/>有效稳定胸肌, 三角肌, 肱二头肌等<br/>控制双臂防止脱离挥杆轨道

								
								</p>
							
							</div>
						
						</div>
					
						<div class="introduction_block clear type_01">
						
							<img src="../resources/images/introduction_banner_03.jpg"/>
							
							<div class="detail right">
							
								<h1 class="title" style="font-size:1.9rem;margin-bottom:7px;">
								
									Noraxon EMG analysis device
									<span class="media_no_line" style="font-size:1.5rem;">and software system</span>
								
								</h1>
								
								<p class="detail" style="margin-bottom:20px;">
								
									表面肌电采集分析系统

								</p>
								
								<!--<img style="display:inline-block;" src="../resources/images/introduction_banner_17.jpg"/>-->
							
							</div>
						
						</div>
					
						<div class="introduction_block clear type_03">
							
							<div class="detail">
							
								<h1 class="title" style="font-size:3rem;margin-bottom:7px;">
								
									挥杆各阶段EMG分析
									<span style="font-size:1rem;display:block;margin-top:15px;">内衣穿着前后的挥杆方式分析（左曲球和右曲球的方式测量及分析）</span>
								
								</h1>
							
							</div>
							
							<div class="clear">
							
								<!--<div class="col-sm-6 media_hide">
								
									<img src="../resources/images/introduction_banner_18.png">
								
								</div>-->
							
								<div class="col-sm-12" style="margin-bottom:35px;">
								
									<img src="../resources/images/introduction_banner_04.png" style="margin-top:35px;"/>
								
								</div>
								
								<div class="col-md-6 col-sm-12" style="padding-bottom:55px;">
								
									<img src="../resources/images/introduction_banner_05.jpg"/>
								
								</div>
								
								<div class="col-md-6 col-sm-12">
								
									<p style="font-size:1.1rem;">EMG肌电图贴在肌肉上详细名称及相关肌电图频道。</p>
								
									<div class="table_block" style="padding-top:15px;">
									
										<div class="table_header table_row">
										
											<div class="table_cell">
											
												Muscle
											
											</div>
										
											<div class="table_cell">
											
												EMG Channel(L,R)
											
											</div>
										
										</div>
									
										<div class="table_row">
										
											<div class="table_cell full">
											
												<span class="none">Muscle : </span>A / Gastrocnemius(GA)
											
											</div>
										
											<div class="table_cell full">
											
												<span class="none">EMG Channel(L,R) : </span>1,2
											
											</div>
										
										</div>
									
										<div class="table_row">
										
											<div class="table_cell full">
											
												<span class="none">Muscle : </span>B / Biceps Femoris(BF)
											
											</div>
										
											<div class="table_cell full">
											
												<span class="none">EMG Channel(L,R) : </span>3,4
											
											</div>
										
										</div>
									
										<div class="table_row">
										
											<div class="table_cell full">
											
												<span class="none">Muscle : </span>C / Rectus Femoris(RF)
											
											</div>
										
											<div class="table_cell full">
											
												<span class="none">EMG Channel(L,R) : </span>5,6
											
											</div>
										
										</div>
									
										<div class="table_row">
										
											<div class="table_cell full">
											
												<span class="none">Muscle : </span>D / Deltoid(DT)
											
											</div>
										
											<div class="table_cell full">
											
												<span class="none">EMG Channel(L,R) : </span>7,8
											
											</div>
										
										</div>
									
										<div class="table_row">
										
											<div class="table_cell full">
											
												<span class="none">Muscle : </span>E / Latissimus Dorsi(LD)
											
											</div>
										
											<div class="table_cell full">
											
												<span class="none">EMG Channel(L,R) : </span>9,10
											
											</div>
										
										</div>
									
										<div class="table_row">
										
											<div class="table_cell full">
											
												<span class="none">Muscle : </span>F / Trapezius(TP)
											
											</div>
										
											<div class="table_cell full">
											
												<span class="none">EMG Channel(L,R) : </span>11,12
											
											</div>
										
										</div>
									
										<div class="table_row">
										
											<div class="table_cell full">
											
												<span class="none">Muscle : </span>G / Brachioradialis(BR) 
											
											</div>
										
											<div class="table_cell full">
											
												<span class="none">EMG Channel(L,R) : </span>13,14
											
											</div>
										
										</div>
									
									</div>
								
								</div>
								
								<div class="col-md-12" style="margin-top:45px;">
								
									<img src="../resources/images/introduction_banner_06.png"/>
								
								</div>
							
							</div>
						
						</div>
						
						<div class="introduction_block clear type_03">
							
							<div class="detail">
							
								<h1 class="title" style="font-size:1.6rem;margin-bottom:7px;">
								
									<span style="font-size:1.1rem;display:block;margin-bottom:15px;">Golf Driver / iron / puting analysis</span>
								
									挥杆时详细并阶段性进行肌肉使用和肌肉协作肌电图分析
								
								</h1>
							
							</div>
							
							<div class="left w_100" style="background-color:#000;padding:55px 0 45px;margin-top:45px;">
							
								<div class="col-md-4">
								
									<img src="../resources/images/index_banner_11.png"/>
								
								</div>
							
								<div class="col-md-4">
								
									<img src="../resources/images/index_banner_11.png"/>
								
								</div>
							
								<div class="col-md-4">
								
									<img src="../resources/images/index_banner_11.png"/>
								
								</div>
								
							</div>
						
						</div>
						
						<div class="introduction_block clear type_03">
							
							<div class="left w_100" style="padding:55px 0 45px;margin-top:45px;">
							
								<div class="col-md-3 center">
								
									<img src="../resources/images/introduction_banner_10.png"/>
									
									<h4 class="bold" style="font-size:1.5rem;">
									
										洪澈云 <span class="no_bold" style="font-size:1.1rem;">博士</span>
									
									</h4>
									
									<p style="color:#595959;">全北大学 生物医疗工学部<br/>（JAIST， 物理学）</p>
								
								</div>
							
								<div class="col-md-9"  style="color:#595959;">
								
									<h4 class="bold" style="font-size:1.1rem;">
									
										研究员介绍
									
									</h4>
									
									<div class="w_100 clear">
									
										<img class="left" src="../resources/images/introduction_banner_11.png"/>
									
									</div>
								
									<h4 class="bold" style="margin-top:35px;margin-bottom:15px;font-size:1.1rem;">
									
										政府出资开发课题项目（最近4年）
									
									</h4>
									
									<div class="table_block type_02" style="color:#595959;font-size:.9rem;">
									
										<div class="table_header table_row">
										
											<div class="table_cell">
											
												计划名
											
											</div>
										
											<div class="table_cell full">
											
												课题名
											
											</div>
										
											<div class="table_cell">
											
												总开发时间
											
											</div>
										
											<div class="table_cell">
											
												参加形态
											
											</div>
										
										</div>
									
										<div class="table_row">
										
											<div class="table_cell">
											
												<span class="none">计划名 : </span>
												<span class="block">科学技术人文融合</span>
												<span class="block">研究事业</span>
											
											</div>
										
											<div class="table_cell full">
											
												<span class="none">课题名 : </span>
												<span class="block">韩国老人专用心理及</span>
												<span class="block">生活康复运动用康复房。</span>
												<span class="block">平台及综合解决方案服务。</span>
												<span class="block">建立及开发扩大方案。</span>

											
											</div>
										
											<div class="table_cell">
											
												2016.10.24-2017.07.31
											
											</div>
										
											<div class="table_cell">
											
												参加研究院
											
											</div>
										
										</div>
									
										<div class="table_row">
										
											<div class="table_cell">
											
												<span class="none">计划名 : </span>技术费支援事业
											
											</div>
										
											<div class="table_cell full">
											
												<span class="none">课题名 : </span>
												<span class="block">为高龄者及障碍人，</span>
												<span class="block">康复可能未来型技术融合。</span>
												<span class="block">自行车设计开发</span>

											
											</div>
										
											<div class="table_cell">
											
												2014.06.01-2015.05.31
											
											</div>
										
											<div class="table_cell">
											
												参加研究院
											
											</div>
										
										</div>
									
										<div class="table_row">
										
											<div class="table_cell">
											
												<span class="none">计划名 : </span>K-CT 计划支援事业
											
											</div>
										
											<div class="table_cell full">
											
												<span class="none">课题名 : </span>
												<span class="block">假想运动环境内容的多目使用。</span>
												<span class="block">为商业化使用者设计，</span>
												<span class="block">健康管理统合内容开发。</span>
											
											</div>
										
											<div class="table_cell">
											
												2015.11.01-2015.11.30
											
											</div>
										
											<div class="table_cell">
											
												参加研究院
											
											</div>
										
										</div>
									
										<div class="table_row">
										
											<div class="table_cell">
											
												<span class="none">计划名 : </span>地域据点研究团培养
											
											</div>
										
											<div class="table_cell full">
											
												<span class="none">课题名 : </span>
												<span class="block">手机无线生物信号观察</span>
												<span class="block">系统开发</span>
											
											</div>
										
											<div class="table_cell">
											
												2011.04.01-2012.03.31
											
											</div>
										
											<div class="table_cell">
											
												参加研究院
											
											</div>
										
										</div>
									
									</div>
								
									<h4 class="bold" style="margin-top:35px;font-size:1.1rem;">
									
										人体影响临床试验评价基础设施
									
									</h4>
									
									<p style="color:#595959;"> 具有人体生理学的、运动学、运动力学分析系统,以及基础设施构筑。</p>
									
									<div class="clear">
									
										<div class="col-md-3 col-xs-6" style="margin:15px 0;">
										
											<img src="../resources/images/introduction_banner_12.png"/>
										
										</div>
									
										<div class="col-md-3 col-xs-6" style="margin:15px 0;">
										
											<img src="../resources/images/introduction_banner_13.png"/>
										
										</div>
									
										<div class="col-md-3 col-xs-6" style="margin:15px 0;">
										
											<img src="../resources/images/introduction_banner_14.png"/>
										
										</div>
									
										<div class="col-md-3 col-xs-6" style="margin:15px 0;">
										
											<img src="../resources/images/introduction_banner_15.png"/>
										
										</div>
									
									</div>
								
								</div>
								
							</div>
						
						</div>
						
						<div class="introduction_block type_03">
							
							<div class="detail">
							
								<h1 class="title" style="font-size:1.6rem;margin-bottom:25px;">
								
									Isometric analysis of Golf swing
								
								</h1>
							
								<div class="col-md-6">
								
									<img src="../resources/images/introduction_banner_18.jpg" style="margin-bottom:15px;"/>
								
								</div>
								
								<p class="detail col-md-6" style="font-size:.9rem;text-align:left;line-height:1.6;">
								
									<span class="block" style="font-size:1.1rem;color:#27cdeb;margin-bottom:15px;">shoulder joint isometric contraction measurement</span>
									穿内衣前后peak torque(N/m),peak torque/body weight,average power(w),total work(J),<br/>
									acceleration time(m/sec)的效果比较分析。
								
									<span class="block" style="font-size:1.1rem;color:#27cdeb;margin-top:15px;margin-bottom:15px;">lumbar joint isometric contraction measurement</span>
									穿内衣前后peak torque(N/m),peak torque/body weight,average power(w),total work(J),<br/>
									acceleration time(m/sec)的效果比较分析。

								</p>
							
							</div>
						
						</div>
					
					</div>
				
				</div>
			
			</div>
		
		</div>
	
	</div>
	
	<!--
	
	<runoob-directive></runoob-directive>
	
	<div class="runoob-directive"></div>
	
	<div runoob-directive></div>-->
	
    <div class="page_footer">
	
		<div class="container h_100" style="display:table;">
		
			<div class="row table_row">
			
				<div class="col-lg-3 table_cell float_none">
				
					<div class="logo">
					
						<img src="{{logo_url}}"/>
					
					</div>
				
				</div>
				
				<div class="col-lg-9 table_cell float_none">
				
					<div class="detail">
					
						<ul>
						
							<li>
							
								[韩国] Chinaweb<span class="fontFamily_NanumGothic">주소:서울특별시광진구능동로49길 9</span>
							
							</li>
							
							<li>	
								
								[中国] 地址: 辽宁省大连市开发区双D港生命3路跨境电商产业园10号楼2单元401
							
							</li>
							
							<li class="special">
							
								Copyright © Balanswing All rights reserved.
							
							</li>
						
						</ul>
					
					</div>
				
				</div>
			
			</div>
		
		</div>

    </div>

    <div class="page_fixed_view">
		
    </div>

    <div class="page_hidden_view">
		
    </div>

</div>
</body>
<script src="../library/js/jquery.js"></script>
<script src="../library/js/bootstrap.min.js"></script>
<script src="../library/js/angular.min.js">

</script>
<script src="../library/js/angular-resource.min.js">

</script>
<script src="../library/js/angular-route.min.js">

</script>
<script src="../library/js/angular-cookies.min.js">

</script>
<script src="../library/js/angular-sanitize.min.js">

</script>
<script src="../library/js/angular-touch.min.js">

</script>
<script src="../library/js/angular-animate.min.js">

</script>
<script src="../resources/js/page.js">

</script>
</html>